.vscode/**
.vscode-test/**
.github/**
.husky/**
src/**
out/test/**
.gitignore
.yarnrc
.prettierrc*
vsc-extension-quickstart.md
CLAUDE.md
ROADMAP.md
pnpm-lock.yaml
pnpm-workspace.yaml
**/tsconfig.json
**/tsconfig.webview.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
